<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Level 1" Description="The ruleset turns on most Code Analysis rules with some exceptions approved by committee. This ruleset is intented for test applications." ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1300" Action="None" />
    <Rule Id="CA1301" Action="None" />
    <Rule Id="CA1302" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1304" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1306" Action="None" />
    <Rule Id="CA1307" Action="None" />
    <Rule Id="CA1308" Action="None" />
    <Rule Id="CA1309" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1804" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA1903" Action="None" />
    <Rule Id="CA2101" Action="None" />
    <Rule Id="CA2122" Action="None" />
    <Rule Id="CA2204" Action="None" />
    <Rule Id="CA2210" Action="None" />
  </Rules>
</RuleSet>